--extra-index-url https://download.pytorch.org/whl/cu124
matplotlib==3.10.9
numpy==2.4.4
opencv-python==5.0.0.93
ortools==9.15.6755
pillow==12.2.0
pytest==9.1.1
torch==2.6.0+cu124
torchvision==0.21.0+cu124
